/* Add this to your global CSS file */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #d1d5db; /* gray-300 */
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}
